/expression_evaluator_backup.py
/expression_evaluator.py
/.idea/expression_evaluator.iml
/.idea/dictionaries/Maurice.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/workspace.xml
